{% extends "listmembers/model.html" %}

{% block título %}
<title>Cadastre-se </title>
{% endblock título %}


{% block body %}

{% block formcadastreSe %}

<h2>Cadastre-se</h2>

<form action="{% url 'page-cadastreSe' %}" method="post">

    {% csrf_token %}
    <label>
        <input type="text" placeholder="Usuário" name="usuario">
    </label>

    <label>
        <input type="text" placeholder="Email" name="email">
    </label>

    <label>
        <input type="password" placeholder="Senha" name="senha">
    </label>
    <button type="submit">Cadastrar</button>

</form>

{% endblock formcadastreSe %}

{% endblock body %}