body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('sua-imagem-de-fundo.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
}

.card {
    width: 100%;
    max-width: 500px;
    margin: 25px auto;
    padding: 40px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
    background-color: rgb(255, 255, 255);
}

.card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a81616;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: rgba(173, 13, 13, 0.719);
    color: #000000;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a81616;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(211, 72, 72, 0.089);
    color: #000000;
}

.password-help,
.username-help {
    font-size: 14px;
    color: #000000e0;
}

.text-center a {
    color: #a81616;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

.card h1 {
    margin-bottom: 40px;
    color: #a81616;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
}

.card h2 {
    margin-bottom: 40px;
    color: #a81616;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
}