{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="login-container">
    <form class="login-form" method="post">
        {% csrf_token %}
        <h2>Entrar</h2>
        <div class="form-group">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Entrar</button>
        </div>
    </form>
    <div class="additional-links">
        <a href="{% url 'signup' %}">Esqueci minha senha</a>
        <span> | </span>
        <a href="{% url 'signup' %}">Registrar</a>
    </div>
</div>
{% endblock %}