{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Olá {{ user.username }}!
<form action="{% url 'lista_negocios' %}" method="get">
    {% csrf_token %}
    <br>
    <button type="submit">Encontre um serviço</button>
</form>
<br>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Encerrar Sessão</button>
</form>
{% else %}
<p>Inicie uma sessão!</p>
<a href="{% url 'login' %}">Entrar</a> |
<a href="{% url 'signup' %}">Cadastre-se</a>
<p><a href="{% url 'password_reset' %}">Esqueci Minha Senha</a></p>
{% endif %}
{% endblock %}