{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Olá {{ user.username }}!
<form action="{% url 'lista_negocios' %}" method="get">
    {% csrf_token %}
    <br>
    <button type="submit">Encontre um serviço</button>
</form>
<br>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Encerrar Sessão</button>
</form>

{% else %}

<div class="home-container-else">
    <div class="mensagem-titulo">
        <p>Você não está logado!</p>
    </div>
    <div class="links-home-else">
        <a href="{% url 'login' %}">Entrar</a> |
        <a href="{% url 'signup' %}">Cadastre-se</a>
    </div>
</div>
{% endif %}
{% endblock %}